<header><div class="header-wrapper"><div class="inner-wrapper">
  <nav id="navBar" class="no-js nav-bar">

    <a class="nav-logo" href="/">
      <img class='logo' src='/images/logo.svg' width="200px" height="100px"></a>
      <div class="nav-right ">
        <div class="nav-links">
            <ul>
                <li><a href="/docs">Get Started</a></li>
                <li><a href="/docs">Blog</a></li>
                <li><a href="/docs">Docs</a></li>
            </ul>
          </div>
        </div>

    <div id='nav-toggle' class="burgermenu" href="#">☰</div>

    <div id='overlay'></div>
    <div id="burgernav">
      <ul>
        <li><a href="/docs">Get Started</a></li>
        <li><a href="/docs">Blog</a></li>
        <li><a href="/docs">Docs</a></li>
      </ul>
    </div>
</nav>

</div></div></header>