{{ define "main" }}
</div></div></header>
<script>
  // set the values here and use them in the graphic.
  window.onload = () => {
    fetch('https://data.arken.io/usage')
      .then((response) => {
        return response.json()
      })
      .then((data) => {
        let used = data.space_used;
        let total = data.space_total;

        document.getElementById("used").innerHTML = used;
        document.getElementById("total").innerHTML = total;
        document.getElementById("nodes").innerHTML = data.nodes_online;
        console.log(new window.LoadVis({
          target: document.querySelector("#graphicHolder"),
          props: {
            used
            ,
            total
          }
        }))
      })
  }
</script>
<div class="wrapper">

  <section class="light">
    <div class="section-wrapper">
      <div class="columns">
        <div>
          <h3>Meet Arken, A Distributed Digital Archive Built for the World's Open Source and Scientific Data.</h3>
        </div>
        <div>
          <div id="graphicHolder"></div>
          <br>
          <ul id='guide'>
            <li><b>Used Space:</b> <span id="used"></span>TB</li>
            <li><b>Total Space:</b> <span id="total"></span>TB</li>
            <li><b>Active Nodes:</b> <span id="nodes"></span></li>
            <hr />
            <li><b>GitHub:</b> <a href="https://github.com/arken/arken">arken/arken</a></li>
            <hr />
            <li><b>Files:</b> <a href='https://files.arken.io'>files.arken.io</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="default">
    <div class="columns">
      <div><a href="https://asciinema.org/a/344705" target="_blank"><img src="/images/demo.svg" /></a></div>
      <div><a href="https://asciinema.org/a/344705" target="_blank"><img src="/images/demo.svg" /></a></div>
    </div>
  </section> -->

  <section id="about" class="default">
    <div class="section-wrapper">
      <div class="columns">
        <div>
          <h2>What is Arken?</h2>
          <p> 
            Arken is a distributed network built to archive open source
            and scientific data. Instead of requiring a single central computer, Arken is made up
            of many distributed computers all working together. These computers pool
            their individual resources to form a shared global storage pool. 
            Taking advantage of many small computers, Arken builds a globally redundant
            storage system that is only limited in size by the number people contributing
            their free hard drive space. Moreover, the Arken system can be made up of 
            almost any computer with available storage space -- including a $35 Raspberry Pi. 
          </p>
          <img src="/images/space-node.png">
          <h2>Building a Stronger Future</h2>
          <p>
            Many researchers, museums, and archivists are struggling to host and
            protect a vast amount of important public data. Although the price of
            high capacity hard drives has decreased significantly in recent years,
            most open-source and scientific organizations don't have the ability to
            build and maintain their own hosting infrastructure. As such, many groups
            have no other options but to rely on expensive cloud storage providers. 
            Sustainably-funded projects can afford the recurring costs of cloud data 
            storage, but projects with short-term grants cannot. Once their funding is 
            exhausted, researchers are often left with only their own hard drives to
            store data. Ultimately, this is a fragile arrangement, as a single lost or 
            failed disk can result in the loss of valuable data.
            <br>
            <br>
            Because of the lasting monthly expenses required by cloud storage,
            many museums cannot afford to digitize their collections.
            <br>
            <br>
            After working with a number of grant supported projects and watching them fail to find
            a sustainable storage solution, we designed Arken so that we could collectively build 
            a better lasting storage system not dependent on any one entity.
          </p>
        </div>
        <div>
          <img src="/images/plant-node.png">
          <h2>Get Involved</h2>
          <p>
            Arken is an open source project created by a community 
            with a shared goal to help preserve and make public data
            freely accessible. If you are interested in becoming 
            a part of this community there are many ways in which you 
            can help us.
            <br>
            <br>
            1) If you have an old or spare computer, read about how to contribute
            your extra storage space to grow the cluster <a href='/docs'><b>here</b></a>.
            <br>
            <br>
            2) If you are a researcher, curator, or publisher in a field 
            and would like to help us review new additions to the Arken cluster 
            sign up to be a reviewer <a href='/docs'><b>here</b></a>.
            <br>
            <br>
            And don't forget to say hi and join our conversation over 
            on <a href='https://matrix.to/#/#arken:matrix.org'><b>Matrix</b></a>!
          </p>    
          <h2>Upload Your Data Now</h2>
          <p>
            If you are a researcher, collections curator, or open source publisher, check out our guide on how
            to submit & upload your data to the Public Arken Cluster  <a href='/docs/upload'><b>here</b></a>.
          </p>
          <br>
          <br>
          <img src="/images/single-node.png">  
          <h2>Explore Data Already in the Cluster</h2>
          <p>
            Check out  <a href='https://files.arken.io'><b>files.arken.io</b></a> to explore the data already
            a part of the Arken cluster hosted by the community.
          </p>        
        </div>
      </div>
    </div>
  </section>
</div>
{{ end }}
